mysql:
 hostname: localhost
 port: 3306
 socket: /tmp/mysql.sock
 username: somename
 password: secretpassword
 databasename: somename 

destination:
 # if file is given, output goes to file, else postgres
 file:
 postgres:
  hostname: localhost
  port: 5432
  username: somename
  password: secretpassword
  databasename: somename

tables:
- table1
- table2
#- table3
- table4

exclude_tables:
- table5
- table6
